
.login-logo{
  width: 39% !important;
  margin: 0px auto;
}
/*font style*/
.text-orange{
  color: #CD5C08;
}

.fs-12{
  font-size: 12px !important;
}
.fs-13{
  font-size: 13px !important;
}
.fs-14{
  font-size: 14px !important;
}
.fs-15{
  font-size: 15px !important;
}
.fs-16{
  font-size: 16px !important;
}
.fs-27{
  font-size: 27px !important;
}


.align-center{
  text-align: center !important;
}
.align-left{
  text-align: left !important;
}

.w-3{
  width: 3% !important;
}
.wd-5{
  width: 5% !important;
}
.w-13{
  width: 13% !important;
}
.w-15{
  width: 15% !important;
}
.wd-12{
  width: 12% !important;
}
.w-20{
  width: 20% !important;
}
.w-25{
  width: 25% !important;
}
.w-30{
  width: 30% !important;
}
.wd-35 {
    width: 35% !important;
}
.wd-40 {
    width: 40% !important;
}

.h-40{
  height: 40px !important;
}
.h-2rem {
    height: 2rem !important;
}
.green{
  background-color: #347928;
  color: #ffffff;
}
.pink{
  background-color: #d4224c !important;
  color: #ffffff;
}
.border-btm{
  border-bottom: 1px solid #d4224c !important;
}
.hide{
  display: none !important;
}
.alert-x, .alert-success, .span-alert-message{
  color: #ffffff;
}
.vertical-align-top{
  vertical-align: top !important;
}
.word-wrap{
  word-wrap: break-word !important;
}
tr:nth-child(even) {
  /* background-color: #f2f2f2; */
  background-color: #ff8797;
  color: #ffffff;
}

input:where(:not([type])){
  border-width: 0px !important;
}
input:where(:not([type])):focus{
  outline: 0px solid transparent !important;
  outline-offset: 0px !important;
}
.text-green-500 {
  --tw-text-opacity: 1 !important;
  color: rgb(34 197 94 / var(--tw-text-opacity)) !important;
}
.text-red-500 {
  --tw-text-opacity: 1 !important;
  color: rgb(220 20 60 / var(--tw-text-opacity)) !important;
}
svg{
  display: inline !important;
}
.btn-error{
  color: #ffffff !important;
}
.btn-success{
  color: #ffffff !important;
}

.space-x-4>:not([hidden])~:not([hidden]){
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.hr-custom{
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.btn-danger{
  background-color: orange !important;
  color: #ffffff !important;
}

.bradius{
  border-radius: 67px !important;
}

.food-img-div{
  height: 103px !important;
    width: 131px !important;
}


/* custom ID's */

#roles, #clearance-area, #clearance-type{
  margin-bottom: 0.5rem !important;
}
.mw-40vw{
  min-width: 40vw !important;
}

.modal-box{
  max-width: 41rem !important;
}
.m-top{
  margin-top: -22px !important;
}
.toast-z-index{
  z-index: 99999999 !important;
}

.word-wrap{
  word-wrap: break-word; /* Ensures long words break */
  word-break: break-word; /* Prevents content overflow */
  white-space: normal; /* Allows text wrapping */
  overflow-wrap: break-word;
  transform: rotate(359deg); /* Rotates text */
  /* writing-mode: vertical-lr; Rotates text to vertical */
  text-orientation: mixed; /* Ensures proper character alignment */
}

.th-uic-pink {
	border: 3px solid #e38291;
	background-color: #d64359;
	padding: 5px;
	font-weight: bold;
	font-size: 12px;
	color: #ffffff;
	height: 38px;
}
.th-uic-pink-14 {
	border: 3px solid #e38291;
	background-color: #d64359;
	padding: 5px;
	font-weight: bold;
	font-size: 14px;
	color: #ffffff;
	height: 38px;
}
.th-uic-pink-30 {
	border: 3px solid #e38291;
	background-color: #d64359;
	padding: 5px;
	font-weight: bold;
	font-size: 12px;
	color: #ffffff;
	height: 30px;
}
.th-uic-pink-25 {
  border: 3px solid #e38291;
  background-color: #d64359;
  padding: 5px;
  font-weight: bold;
  font-size: 12px;
  color: #ffffff;
  height: 25px !important;
  text-align: center !important;
  vertical-align: middle !important;
}

.tr-border-bottom-pink{
	border-bottom: 1px solid #f1c1c8;
}

.h-35{
  height: 35px !important;
}

.custom-label-class {
  display: block !important;
}

.custom-tr .custom-td div label{
  display: block !important;
}

.instruction-div{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}

.clearance-head-div{
  font-size: 25px !important;
  font-weight: bold;
}

